body{
	background-color: skyblue;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
nav{
	background-color: rgb(23, 109, 143);
	color: white;
	padding: 30px 60px;
	display: flex;
	justify-content: space-between;
}
nav ul{
	text-decoration: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav li{
	list-style: none;
}
nav li a{
	color: #ffff;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 8px;
}
nav li a:hover{
	color:rgb(202, 0, 0);
	text-decoration: none;
}
.center-login{
	position: absolute;
	border-style: 10px outset;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding-left:100px;
	padding-right:100px;
	padding-bottom:10px;
	border:1px solid black;
	border-radius:10px;
	vertical-align:center;		
}
a{	
	justify-content: space-between;
	background-color: rgb(37, 116, 89);
	border-radius: 5px;
	color: #ffff;
	text-decoration: none;
	font-weight: bold;
	margin:10px;
	padding:9px;
	
}
a:hover{
	color: rgb(224, 59, 30);
	text-decoration: none;
}
.footer {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(0, 0, 0);
	color: white;
	text-align: center;
  }

  .href{
	  margin-top: 100px ;
	  margin-left: 35%;
	 
  }